@import "tailwindcss";

@theme {
   --leading-1: 1;
   --color-white-500: #fff;
   --color-black-500: #000;
}

.hsb {
   -ms-overflow-style: none;
   scrollbar-width: none;
}
.hsb::-webkit-scrollbar {
   display: none;
}